body {
  --submit-icon-width: 22%;
  margin: 0 auto;
  font-family: var(--font-family-sans-serif);
  font-size: var(--base-font-size);
  font-weight: var(--base-font-weight);
  line-height: var(--base-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
  padding: 0;
}


/* Hero banner */
#hero-banner {
  width: 100%;
  height: 25rem;
  background-color: #ff7d01;
  background-image: url('https://ascii.jp/img/2016/09/30/541703/l/34ba83e8756b99a0.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5rem 5rem 5rem 40rem;
}
#about-product {
  width: 100%;
  height: 45rem;
  background-color: green;
}
#testimonial {
  width: 100%;
  height: fit-content;
  background-color: rgba(17, 17, 17, 0.712);
}


/* Testimonial */

.slideshow-container {
  max-width: 80%;
  height: 25rem;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
  margin: auto;
  padding: 1rem 0;
}

.slideshow-content {
  max-width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
  height: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2rem;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -3.6rem;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: -3.6rem;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 0.7rem;
  width: 0.7rem;
  margin: 1rem 0.3rem 0 0.3rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #020202;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 1}
}

/* Testimonial container */
.testimonial-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonial-box {
  width: 30%;
  height: 90%;
  border-radius: 5px;
  background-color:  rgb(245, 244, 244);
}

/* Testimonial box header */
.testimonial-box-header {
  width: 100%;
  height: 35%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonial-box-avatar {
  width: 4.5em;
  height: 4.5em;
  border-radius: 100px;
  background-color: rgb(179, 179, 179);
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonial-box-name {
  font-size: 17px;
}



.testimonial-box-content {
  width: 100%;
  height: 65%;
  background-color: rgb(241, 230, 230);
  display: flex;
  flex-direction: column;
}
.testimonial-box-rate {
  flex: 2;
  display: flex;
}
.testimonial-box-rate-left {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.active-star {
  width: 1.2rem;
  height: auto;
  margin-left: 0.3rem;
}
.unactive-star {
  width: 1.2rem;
  height: auto;
  margin-left: 0.3rem;
}
.testimonial-box-rate-right {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.testimonial-box-rate-right p {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: rgb(177, 174, 174);
  margin: 0
}

.testimonial-box-comment {
  flex: 8;
  background-color: transparent;
  padding: 1rem 1.5rem;
  overflow-y: scroll;
}

.testimonial-box-footer {

}

/* Hero banner content style */
#hero-banner-button {
  width: 12rem;
  height: 3rem;
  font-size: 16px;
  border: none;
  transition: 0.2s;
}
#hero-banner-button:hover {
  cursor: pointer;
  font-size: 17px;
}

/* Footer style */
footer {
  height: fit-content;
  width: 100%;
  background-color: rgb(22, 22, 22);
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-information {
  flex: 6;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1.2px solid rgb(90, 90, 90);
  padding: 2rem 0
} 
.footer-information-column {
  flex: 1;
  height: 90%;
  margin: 0 1rem;
  padding: 0 1rem;
}

#footer-contact {
  flex: 4;
  width: 95%;
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}
#footer-contact-top {
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#footer-contact-bottom {
  flex: 5;
  width: 60%;
  margin-top: 4rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: whitesmoke;
  font-size: 14px;
}
#footer-contact-bottom p {
  padding: 0;
  margin: 0.4rem 0;
}
#footer-contact-top-email {
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#email-text {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: white;
  margin-right: 1rem;
}
#emailInputContainer {
  height: 2.5rem;
  width: fit-content + 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#submitEmailButton {
  height: 100%;
  flex: 1;
  background-color: rgb(150, 147, 147);
  border-radius: 0 4px 4px 0;
  display: flex;
  width: 3.5rem;
  justify-content: center;
  align-items: center;
  transition: .25s;
}
#submitEmailButton img {
  padding: 0;
  margin: 0;
  width: var(--submit-icon-width);
  height: auto;
  transition: .2s;
}
#submitEmailButton:hover {
  cursor: pointer;
  background-color: rgb(116, 116, 116);
}

#footer-contact-top-email input {
  height: 100%;
  width: 16rem;
  padding: 1rem 0.8rem;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  border: none;
  outline: none;
}
#footer-contact-top-email input:focus {
  border: none;
  outline: none;
}

#footer-contact-top-connect {
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer-contact-top-connect-header {
  flex: 4;
  width: 100%;
}
#footer-contact-top-connect-header h5 {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: white;
  margin-left: 10%;
}
#footer-contact-top-connect-content {
  flex: 6;
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  width: 1.8rem;
  height: auto;
  margin: 0 0.8rem;
  transition: .25s;
  filter: brightness(80%)
}
.contact-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: brightness(100%)
}



.footer-information-topic {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.footer-information-topic-list {
  font-size: 15px;
  color: rgb(182, 182, 182);
  transition: .3s;
} 
.footer-information-topic-list:hover {
  cursor: pointer;
  color: white;
  padding-left: 5px;
}
